<launch>
  <arg name="gui" default="true"
    doc="If true starts GUI to publish joints state, otherwise no."/>

  <!-- Load robot_description on Parameter Server -->
  <param name="robot_description" command="xacro --inorder $(find dh_description)/urdf/ag95_gripper.urdf.xacro"/>

  <!-- -->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[dh_driver/joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dh_description)/rviz/urdf.rviz"/>

</launch>
